@import "tailwindcss";

@theme {
	/* Colors */
	--color-gray-50: #f9fafb;
	--color-gray-100: #f3f4f6;
	--color-gray-200: #e5e7eb;
	--color-gray-300: #d1d5db;
	--color-gray-400: #9ca3af;
	--color-gray-500: #6b7280;
	--color-gray-600: #4b5563;
	--color-gray-700: #374151;
	--color-gray-800: #1f2937;
	--color-gray-900: #111827;
	--color-gray-950: #030712;

    /* Club Remedy Brand Colors */
    --color-primary-50: oklch(0.982 0.018 155.826);
    --color-primary-100: oklch(0.962 0.044 156.743);
    --color-primary-200: oklch(0.925 0.084 155.995);
    --color-primary-300: oklch(0.871 0.15 154.449);
    --color-primary-400: oklch(0.792 0.209 151.711);
    --color-primary-500: oklch(0.723 0.219 149.579);
    --color-primary-600: oklch(0.627 0.194 149.214);
    --color-primary-700: oklch(0.527 0.154 150.069);
    --color-primary-800: oklch(0.448 0.119 151.328);
    --color-primary-900: oklch(0.393 0.095 152.535);
    --color-primary-950: oklch(0.266 0.065 152.934);

	--font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
    body {
        font-family: var(--font-sans);
        -webkit-font-smoothing: antialiased;
        color: var(--color-gray-950);
    }
}
